/* 
#353d40 فيراني 
#d9d9d9 رصاصي فاتح 
#a1a5a6 رصاصي غامق 
#f2b138 اصفر 
#003f63 كحلي 
*/

/* background */
header .scroll-down{
    background-color: #d9d9d9;
}
header .upper,
header .scroll-down,
header .lower .dropdown-menu,
header .lower .dropdown-menu li a:hover,
header nav.lower,
header .lower .dropdown-menu li a:hover,
header .scroll-down,
section.welcome .container .left,
.counters{
    background-color: #f2b138;
}
header .lower .dropdown-menu:hover,
header .lower .search,
header .lower .nav-link a:hover,
header .lower .dropdown-button:hover,
.pics,
.counters .counter{
    background-color: #353d40;
}
header .lower .search .search-button{
    background-color: transparent;
}
/* end background */

/* color */
header .upper,
header .middle .social-links li a,
header .lower .nav-link a,
header .lower .dropdown-button{
    color: #353d40;
}
header .lower .dropdown-menu:hover > li a,
header .lower .search .search-button,
header .lower .nav-link a:hover,
header .lower .dropdown-button:hover,
.pics,
.counters .counter{
    color: #d9d9d9;
}
/* end color */

/* border */
header .scroll-down,
.pics h2{
    border-color: #f2b138;
}
header .lower .dropdown-menu,
header .lower .search input[type=search]{
    border-color: #d9d9d9;
}
/* end border */