/* 
#353d40 فيراني 
#d9d9d9 رصاصي فاتح 
#a1a5a6 رصاصي غامق 
#f2b138 اصفر 
#003f63 كحلي 
*/

/* background */
header .scroll-down{
    background-color: #d9d9d9;
}
header .upper,
header .scroll-down ,
section.welcome .container .left{
    background-color: #f2b138;
}
/* end background */

/* color */
header .upper,
header .middle .social-links li a{
    color: #353d40;
}
/* end color */

/* border */
header .scroll-down{
    border-color: #f2b138;
}
/* end border */

