/* globals */
body {
  margin: 0;
  background-color: #d9d9d9;
  color: #353340;
  height: 4000px;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
/* start header */
header .upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .upper img {
  height: 40px;
  width: 40px;
  margin: 10px 0;
  border-radius: 50%;
}
header .upper h1 {
  margin: 0;
}
header .upper h1 span {
  font-size: 15px;
}
header .upper .upper-links {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
header .upper .upper-links a {
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
header .middle {
  display: flex;
  justify-content: space-between;
}
header .middle .header-content {
  width: calc(100% - 50px);
  height: calc(100vh - 60px);
}
header .middle .header-content .banner {
  background-image: url("../images/computer-bg-light.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .middle .header-content .banner h2 {
  width: 50%;
  text-align: center;
  font-size: 72px;
}
header .middle .header-content .banner h2 span {
  display: block;
  font-size: 16px;
}
header .middle .header-content .banner .scroll-down {
  width: 30px;
  height: 30px;
  background-image: url("../images/scrollDown.png");
  background-size: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
header .middle .header-content .banner .scroll-down:hover {
  opacity: 0.8;
}
header .middle .social-links {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
header .middle .social-links li {
  margin: 5px 0;

}
header .middle .social-links li a{
  display: block;
  width: 100%;
  padding: 10px 0;
}
header .lower ul.nav{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
header .lower ul a{
  font-size: 18px;
}
header .lower ul a i{
  font-size: 14px;
}
header .lower .dropdown{
  position: relative;
}
header .lower .dropdown-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  border: 1px solid;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  display: none;
  position: absolute;
  right: 0;
}
header .lower .dropdown-menu.active{
  display: block;
}
header .lower .dropdown-menu li a{
  display: block;
  padding: 10px 30px;
}
/* end header */