/* globals */
body {
  margin: 0;
  background-color: #d9d9d9;
  color: #353340;
  height: 4000px;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
/* start header */
header .upper .container {
  display: flex;
  justify-content: space-between;
}
header .upper img {
  height: 70px;
  width: 70px;
  margin: 10px 0;
  border-radius: 50%;
}
header .upper h1 span {
  font-size: 15px;
}
header .upper .upper-links {
  width: 90px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
header .upper .upper-links a {
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
header .lower {
  display: flex;
  justify-content: space-between;
}
header .lower .header-content {
  width: calc(100% - 50px);
  height: calc(100vh - 90px);
  background-color: #00f;
}
header .lower .header-content .banner {
  background-image: url("../images/computer-bg-light.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .lower .header-content .banner h2 {
  width: 50%;
  text-align: center;
  font-size: 72px;
}
header .lower .header-content .banner h2 span {
  display: block;
  font-size: 16px;
}
header .lower .header-content .banner .scroll-down {
  width: 30px;
  height: 30px;
  background-image: url("../images/scrollDown.png");
  background-size: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
}
header .lower .header-content .banner .scroll-down:hover {
  opacity: 0.8;
}
header .lower .social-links {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
header .lower .social-links li {
  padding: 15px 0;
}
/* end header */
