/* globals */
body {
  margin: 0;
  background-color: #d9d9d9;
  color: #353340;
  height: 4000px;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
/* start header */
header .upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .upper img {
  height: 40px;
  width: 40px;
  margin: 10px 0;
  border-radius: 50%;
}
header .upper h1 {
  margin: 0;
}
header .upper h1 span {
  font-size: 15px;
}
header .upper .upper-links {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
header .upper .upper-links a {
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
header .middle {
  display: flex;
  justify-content: space-between;
}
header .middle .header-content {
  width: calc(100% - 50px);
  height: calc(100vh - 60px);
}
header .middle .header-content .banner {
  background-image: url("../images/computer-bg-light.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .middle .header-content .banner h2 {
  width: 50%;
  text-align: center;
  font-size: 72px;
}
header .middle .header-content .banner h2 span {
  display: block;
  font-size: 16px;
}
header .middle .header-content .banner .scroll-down {
  width: 30px;
  height: 30px;
  background-image: url("../images/scrollDown.png");
  background-size: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
header .middle .header-content .banner .scroll-down:hover {
  opacity: 0.8;
}
header .middle .social-links {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
header .middle .social-links li {
  margin: 5px 0;

}
header .middle .social-links li a{
  display: block;
  width: 100%;
  padding: 10px 0;
}
header .lower ul.nav{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header .lower ul a{
  font-size: 18px;
}
header .lower ul a i{
  font-size: 14px;
  margin: 0 5px;
}
header .lower .dropdown{
  position: relative;
}
header .lower .dropdown .dropdown-button,
header .lower a{
  display: block;
  padding: 10px 0;
}
header .lower .dropdown-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  border: 1px solid;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  display: none;
  position: absolute;
  right: 0;
}
header .lower .dropdown-menu.active{
  display: block;
}
header .lower .dropdown-menu li a{
  display: block;
  width: 100px;
  padding: 10px;
}
header .lower .search{
  width: fit-content;
  border-radius: 50px;
  font-size: 18px;
  padding: 3px;
}
header .lower .search input[type=search]{
  padding: 5px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: inherit;
  border: 2px solid;
  border-right: none;
}
header .lower .search .search-button{
  border: none;
  font-size: inherit;
  padding: 5px 10px 5px 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
  cursor: pointer;
}
/* end header */

/* start section */
section.welcome .container{
  display: flex;
  justify-content: space-between;
}

section.welcome .container .right{
  width: 70%;
  height: auto;
 
}
section.welcome .container .left :hover{
  opacity: 0.5;
}

section.welcome .container .left{
  width: 30%;
  height: auto;
  text-align: center;
  font-size: 13px;
  padding: 30px;
}
section.welcome .container .left i{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}
section.welcome .container .right{
  margin: auto;
  text-align: center;
  margin-left: 30px;
}
section.welcome .container .right h3{
  text-align: center;
  margin: 20px;
  font-size: 25px;
}
/*end section*/

/*start news section*/ 
.pics{
  width: 90%;
  margin: auto;
}
.pic{
  width: 33%;
  height: 35%;
  float:left;
  text-align: center;
  display:block;
}
.pic img{
  width: 90%;
  border-radius: 5%;
}
.clear{
  clear:both;
}
/* end news section */

/*start counter section*/
.count{
  width: 100%;
  height: 100%;
  background-color: linear-gradient(rbba(103,58,183,0.8),rgba(33,150,243,0.5)),;
  background-position: center;
  background-size: cover;
  flex-direction: row;
}
.count .title{
  width: 60%;
  display: inline-block;
  margin:50px 300px;
  text-align: center;
}
.counter_item{
  padding: 20px;
  margin-top: 20px;
  background: #d9d9d9;
  box-shadow: inset 1px 2px 4px #aaa ;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  flex-direction:row;
}
.counter_item:hover{
  box-shadow: 1px 2px 8px rgb(46, 44, 44);
}
.counter_item i{
  font-size: 45px;
  color:#353d40;
}
.counter_item p{
  font-size: 25px;
  padding: 12px 0px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #353340;
}
.counter_item h4{
  color: #353340;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
/* end counter section*/

/*start footer section*/
.nav2{
  background-color:#353340 ;
  color:#d9d9d9 ;
  padding: 10px 10px;
  width: auto;
  direction: ltr;

}
.nav2 img{
  width: 3%;
  border-radius: 50%;
}
.nav2 h1{
  color:#f5eeee;
  padding: 1%;
  display: inline;
}
.nav2 p{
  margin-left: 60px;
  line-height:1.5;
}
.nav2 p a{
  color:whitesmoke;
  text-decoration: underline;
  font-size: bold;
}
.nav2 .contact-us p strong{
  color: #f5eeee;
}
.footer{
  background-color: #353340;
  color:#d9d9d9;
  padding: 20px 0px;
  text-align:center;
  direction: ltr;
}
.footer ul{
  list-style: none;
  padding-left: 0%;
  margin: 10px 0 0 ;
}
.footer  ul li{
  display: inline-block;
}
.footer ul li img{
  width: 24px;
}