/* globals */
body {
  margin: 0;
  background-color: #d9d9d9;
  color: #353340;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
.main-heading{
  font-size: 36px;
  width: fit-content;
  margin: auto;
  margin-bottom: 70px;
  border-bottom: 1px solid;
  text-align: center;
  padding: 0 50px 20px;
}
.image-preview{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: -3;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}
.image-preview .collapse{
  border: none;
  font-size: 36px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}
.image-preview img{
  max-width: 50%;
  display: block;
  margin: 100px auto;
}
/* start header */
header .upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .upper img {
  height: 40px;
  width: 40px;
  margin: 10px 0;
  border-radius: 50%;
}
header .upper h1 {
  margin: 0;
}
header .upper h1 span {
  font-size: 15px;
}
header .upper .upper-links {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
header .upper .upper-links a {
  display: block;
  color: white;

padding-right: 40px;
  font-size: 30px;
}
header .middle {
  display: flex;
  justify-content: space-between;
}
header .middle .header-content {
  width: calc(100% - 50px);
  height: calc(100vh - 60px);
}
header .middle .header-content .banner {
  background-image: url("../images/computer-bg-light.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .middle .header-content .banner .banner-content h2 {
  width: 50%;
  text-align: center;
  font-size: 72px;
  width: fit-content;
}
header .middle .header-content .banner .banner-content h2 span {
  display: block;
  font-size: 16px;
}
header .middle .header-content .banner .login{
  padding: 50px;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.5);
}
header .middle .header-content .banner .login .main-heading{
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}
header .middle .header-content .banner .login .form-control input{
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}
header .middle .header-content .banner .login button{
  display: block;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
  padding: 10px 40px;
  margin: 30px auto 0;
  font-weight: bold;
}
header .middle .header-content .scroll-down {
  width: 30px;
  height: 30px;
  background-image: url("../images/scrollDown.png");
  background-size: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}
header .middle .header-content .banner .scroll-down:hover {
  opacity: 0.8;
}
header .middle .social-links {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
header .middle .social-links li {
  margin: 5px 0;

}
header .middle .social-links li a{
  display: block;
  width: 100%;
  padding: 10px 0;
}
header .lower .container{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
header .lower ul.nav{
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header .lower ul a{
  font-size: 18px;
}
header .lower ul a i{
  font-size: 14px;
  margin: 0 5px;
}
header .lower .dropdown{
  position: relative;
}
header .lower .dropdown .dropdown-button,
header .lower .nav-link a{
  display: block;
  padding: 10px 20px;
}
header .lower .dropdown-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  border: 1px solid;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 20px 2px rgba(0,0,0,0.5);
  z-index: 1;
}
header .lower .dropdown-menu.active{
  display: block;
}
header .lower .dropdown-menu li a{
  display: block;
  width: 100px;
  padding: 10px;
}
header .lower .search{
  width: fit-content;
  border-radius: 50px;
  font-size: 18px;
  padding: 3px;
}
header .lower .search input[type=search]{
  padding: 5px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: inherit;
  border: 2px solid;
  border-right: none;
}
header .lower .search .search-button{
  border: none;
  font-size: inherit;
  padding: 5px 10px 5px 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
  cursor: pointer;
}
/* end header */

/* start features section */
section.features{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  background-color: #353d40;
}
section.features .feature{
  background-image: url("http://www.placehold.it/400x800/000");
  background-size: 100%;
  width: 31%;
  height: 70vh;
  position: relative;
}
section.features .feature .content{
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  padding-left: 30px;
}
section.features .feature .content h3{
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 22px;
  text-transform: capitalize;
}
section.features .feature .content p{
  padding-bottom: 30px;
}
section.features .feature .content p i{
  margin-right: 5px;
  font-size: 18px;
}
/* end features section */

/* start welcome section */
section.welcome{
  margin: 50px 0;
}
section.welcome .container{
  display: flex;
  justify-content: space-between;
}
section.welcome .container .left:hover{
  opacity: 0.5;
}
section.welcome .container .left{
  width: 50%;
  text-align: center;
  font-size: 20px;
  padding: 25px;
}
section.welcome .container .left i{
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 30px;
}
section.welcome .container .right{
  width: 70%;
  margin: auto;
  text-align: center;
  margin-left: 30px;
}
section.welcome .container .right h3{

  margin: 20px;
  font-size: 40px;
  text-align: left;
}
section.welcome .container .right p{
  text-align: left;
  font-size: 20px;
}
/*end section*/

/*start news section*/ 
.pics
{
  direction: ltr;
  margin: auto;
  padding: 50px 0;
}
.pics .container{
  display: flex;
  justify-content: space-between;
}
.pics h2{
  font-size: 36px;
  width: fit-content;
  margin: auto;
  margin-bottom: 70px;
  border-bottom: 1px solid;
  text-align: center;
  padding: 0 50px 20px;
}
.pic{
  text-align: center;
  display:block;
  width: 250px;
}
.pic img{
  width: 100%;
  border-radius: 5px;
}
.pic h3{
  font-size: 14px;
}
/* end news section */

/*start counter section*/
.count{
  width: 100%;
  height: 100%;
  background-color: linear-gradient(rgba(103,58,183,0.8),rgba(33,150,243,0.5)),;
  background-position: center;
  background-size: cover;
  flex-direction: row;
}
/* end news section */

/* start counters section */
.counters{
  padding: 50px;
}
.counters h2{
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.counters .container{
  display: flex;
  justify-content: space-between;
}
.counters .counter{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counters .counter p{
  font-size: 30px;
  margin: 0;
}
.counters .counter h4{
  font-size: 14px;
  margin-top: 10px;
}
/* end counters section */

/*start gallery section*/
.gallery{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.gallery .photos{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0 0 0;
}
.gallery .photos div{
  width: calc(25% - 8px);
}
.gallery .photos img{
  width: 100%;
  height: auto;
  cursor: pointer;
}
/*end gallery section*/

/*start footer section*/
footer{
  padding-top: 20px;
}
.nav2{
  padding: 10px 0;
}
.nav2 img{
  width: 3%;
  border-radius: 50%;
}
.nav2 h1{
  margin-left: 20px;
  display: inline;
}
.nav2 p{
  margin-left: 60px;
  line-height:1.5;
}
.nav2 p a{
  text-decoration: underline;
  font-size: bold;
}
.footer-widgets{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-widget{
  margin: 20px 30px 0;
}
.footer-widget h4{
  font-size: 22px;
  margin: 0;
}
.footer-widget ul{
  list-style: none;
  margin: 0;
  padding-top: 10px;
}
.footer-widget ul li{
  padding: 5px 0;
}
.footer{
  padding: 20px 0px;
  text-align:center;
}
.footer span i{
  color: #f00;
}
.footer span a{
  text-decoration: underline;
}
.footer ul{
  list-style: none;
  padding-left: 0%;
  margin: 10px 0 0 ;
}
.footer  ul li{
  display: inline-block;
}
.footer ul li img{
  width: 24px;
}