/* globals */
body {
  margin: 0;
  background-color: #d9d9d9;
  color: #353340;
  height: 4000px;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}
/* start header */
header .upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .upper img {
  height: 40px;
  width: 40px;
  margin: 10px 0;
  border-radius: 50%;
}
header .upper h1 {
  margin: 0;
}
header .upper h1 span {
  font-size: 15px;
}
header .upper .upper-links {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
header .upper .upper-links a {
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
header .middle {
  display: flex;
  justify-content: space-between;
}
header .middle .header-content {
  width: calc(100% - 50px);
  height: calc(100vh - 60px);
}
header .middle .header-content .banner {
  background-image: url("../images/computer-bg-light.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .middle .header-content .banner h2 {
  width: 50%;
  text-align: center;
  font-size: 72px;
}
header .middle .header-content .banner h2 span {
  display: block;
  font-size: 16px;
}
header .middle .header-content .banner .scroll-down {
  width: 30px;
  height: 30px;
  background-image: url("../images/scrollDown.png");
  background-size: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
header .middle .header-content .banner .scroll-down:hover {
  opacity: 0.8;
}
header .middle .social-links {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
header .middle .social-links li {
  margin: 5px 0;

}
header .middle .social-links li a{
  display: block;
  width: 100%;
  padding: 10px 0;
}
header .lower ul.nav{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header .lower ul a{
  font-size: 18px;
}
header .lower ul a i{
  font-size: 14px;
  margin: 0 5px;
}
header .lower .dropdown{
  position: relative;
}
header .lower .dropdown .dropdown-button,
header .lower a{
  display: block;
  padding: 10px 0;
}
header .lower .dropdown-menu{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  border: 1px solid;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  display: none;
  position: absolute;
  right: 0;
}
header .lower .dropdown-menu.active{
  display: block;
}
header .lower .dropdown-menu li a{
  display: block;
  width: 100px;
  padding: 10px;
}
/* end header */

/* start section */
section.welcome .container{
  display: flex;
  justify-content: space-between;
}

section.welcome .container .right{
  width: 70%;
  height: auto;
 
}
section.welcome .container .left :hover{
  opacity: 0.5;
}

section.welcome .container .left{
  width: 30%;
  height: auto;
  text-align: center;
  font-size: 13px;
  padding: 30px;
}
section.welcome .container .left i{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}
section.welcome .container .right{
  margin: auto;
  text-align: center;
  margin-left: 30px;
}
section.welcome .container .right h3{
  text-align: end;
  margin: 20px;
  font-size: 25px;
}
/*end section*/


/* start about fci section*/
.about-fci
{
  direction: ltr;

  justify-content:space-around;
  float: left;

}

.about-fci h1
{
  font-size:x-large ;
  text-align: center;
  padding: 2% 0%; 
  display: block;

}
.about-fci .fci-container .left img
{
  margin: 10px;
  padding: 10px;
  display: block;
  width: 50%;
  border-radius: 10%;
  float: left;
}
.about-fci .fci-container .right
{
  text-align:center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline;
  padding: 30px;
  float: none;
}
.clear
{
  clear: both;
}
/*end about fci section*/

/*start news section*/ 
.pics
{
 direction: ltr;
  width: 70%;
  margin: auto;
  
}
.pics h1
{
  font-size:bold ;
  text-align: center;
  padding: 2% 5%;
}
.pic 
{

  width: 25%;
  height: 25%;
  float:left;
  text-align: center;
  display:block;
}
.pic img
{
  width: 80%;
  border-radius: 5%;
}


.clear 
{
  clear:both;
}
.pics hr
{
  color: #353d40;
}

/* end news section */



/*start counter1 section*/


 .count .title
{
  width: 60%;
  display: inline-block;
  margin:50px 300px;
  text-align: center;
}

.count
{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  
}

.counter_item
{
  padding: 40px;
  margin: 40px;
  background: #353d40;
  box-shadow: inset 1px 2px 4px #aaa ;
  border-radius: 10px;
  cursor: pointer;
  display: block;
 float: left;
 
}

.counter_item:hover
{
box-shadow: 3px 5px 10px white;

}
.counter_item i
{
  padding: 20%;
font-size: 45px;
color:#d9d9d9 ;
text-align: center; 
}
.counter_item p
{

font-size: 25px;
padding:  10px;
font-weight: 600;
letter-spacing: 1px;
color: #d9d9d9;
text-align: center;
}
.counter_item h4
{
  padding: 10px;
color: #d9d9d9;
font-weight: 600;
font-size: 18px;
text-transform: uppercase;
text-align: center;
}
.counter1 .clear
{
  clear: both;
}
/* end counter1 section*/

/*start Gallery section*/
.Gallery
{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.Gallery .photos img
{
  width: 20%;
  padding:25px ;
  margin: 10px;
  border-radius: 10%;
  float: left;
}
.Gallery .photos2 img
{
  width:20% ;
  padding:25px ;
  margin:10px ;
  border-radius: 10%; 
  float: left;
}
.Gallery .clear
{
  clear: both;
}
/*end Gallery section*/


/*start footer section*/

.nav2
{
  background-color:#353340 ;
color:#d9d9d9 ;
padding: 10px 10px;
width: auto;
direction: ltr;

}
.nav2 img 
{
  width: 3%;
  border-radius: 50%;


}
.nav2 h1
{
  color:#f5eeee ;
  padding: 1%;
  display: inline;
}
.nav2 p
{
  margin-left: 60px;
  line-height:1.5;
}
.nav2 p a
{
  color:whitesmoke;
  text-decoration: underline;
  font-size: bold;
}
.nav2 .contact-us p strong
{
color: #f5eeee;
}

.footer
{
  
  background-color: #353340;
  color:#d9d9d9;
  padding: 20px 0px;
  text-align:center;
  direction: ltr;
}

.footer ul
{
  list-style: none;
  padding-left: 0%;
  margin: 10px 0 0 ;
}
.footer  ul li
{
  display: inline-block;

}
.footer ul li img
{
  width: 24px;
}